
.TeachersTableDisplay .nameColumns {
    width: 30%;
}

.TeachersTableDisplay .facultyColumns {
    width: 20%;
}

.TeachersTableDisplay .chairColumns {
    width: 20%;
}

.TeachersTableDisplay .subjectsColumns {
    width: 25%;
}

.addingTeachersForm .deleteColumns {
    width: 3%;
}

.addingTeachersForm .nameColumnsInput{
    width: 44%;
}

.addingTeachersForm .numberColumnsInput{
    width: 20%;
}

.addingTeachersForm .mailColumnsInput{
    width: 30%;
}


#nameTeacherInput, #mailTeacherInput {
    width:100%;
    height: 100%;
}